{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Agente Municipal</h2>

            <form class="formulario">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <small> {{agente_municipal.usuario.nickname}} </small>
                    </div>
                    <div class="campo">
                        <label>Nombre</label>
                        <small> {{agente_municipal.nombre}} </small>
                    </div>

                    <div class="campo">
                        <label>Municipio</label>
                        <small> {{agente_municipal.municipio}} </small>
                    </div>

                    <div class="editar">
                        <button class="boton">Editar</button>
                    </div>
                </fieldset>
            </form>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}
