{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Agentes Provinciales</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Provincia</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each agente_provincial}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{provincia}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}