{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Cargar Excel</h2>

            <form class="formulario" method="post" enctype="multipart/form-data">
                
                <div class="campo">
                    <input style="margin-left: 150px;" type="file" name="excel" accept=".xlsx"/>
                </div>

                <div class="enviar">
                    <button class="boton" type="submit">Enviar</button>
                </div>
            </form>

        </section>
    </main>

</body>
{{/partial}}
{{> base.hbs }}
