{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Cargar Excel</h2>

            <form class="formulario">

                
                <div class="campo">
                    <input style="margin-left: 150px;" type="file" name="adjunto" accept=".xls" />
                </div>

                
                

                <div class="enviar">
                    <button class="boton" type="submit">Enviar</button>
                </div>
            </form>

        </section>
    </main>

</body>
{{/partial}}
{{> base.hbs }}
