{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Empleo</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Organizacion</th>
                        <th>Sector</th>
                    </tr>
                </thead>
                <tbody>
                {{#each sector}}
                    <tr>
                        <td>{{organizacion.razonSocial}}</td>
                        <td>{{nombre}}</td>

                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}