{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Alta de Tramo</h2>

            <form class="formulario" method="post">
                <fieldset>

                    <div class="campo">
                        <label>Seleccionar Trayecto</label>
                            <select>
                                <option>Trayecto 1</option>
                                <option>Trayecto 2</option>
                                <option>Trayecto 3</option>
                                <option>Trayecto 4</option>
                            </select>
                    </div>

                    <div class="campo">
                        <label>Calle de Inicio</label>
                        <input name="calle_inicio" type="text" placeholder="Calle de Inicio" value="{{tramo.inicioTramo.calle}}">
                    </div>

                    <div class="campo">
                        <label>Altura de Inicio</label>
                        <input name="altura_inicio" type="number" placeholder="Altura de Inicio" value="{{tramo.inicioTramo.altura}}">
                    </div>

                    <div class="campo">
                        <label>Seleccionar Transporte</label>
                            <select>
                                <option>Transporte 1</option>
                                <option>Transporte 2</option>
                                <option>Transporte 3</option>
                                <option>Transporte 4</option>
                            </select>
                    </div>

                    <div class="campo">
                        <label class="checkbox">Es Compartido</label>
                        <input class="checkbox" type="checkbox">
                    </div>

                    <div class="campo">
                        <label>Calle de Fin</label>
                        <input name="calle_fin" type="text" placeholder="Calle de Fin" value="{{tramo.finTramo.calle}}">
                    </div>

                    <div class="campo">
                        <label>Altura de Fin</label>
                        <input name="altura_fin" type="number" placeholder="Altura de Fin" value="{{tramo.finTramo.altura}}">
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>


                </fieldset>
            </form>

        </section>
    </main>


    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}