{{#partial "contenido" }}
<body>
<main>
    <section>
        <h2 class="contacto title">Alta de Parada</h2>

        <form class="formulario" method="post">
            <fieldset>

                <div class="campo">
                    <label>Nombre de Parada</label>
                    <input required="required" name="nombre" type="text" placeholder="Nombre" >
                </div>

                <div class="campo">
                    <label>Calle</label>
                    <input required="required" name="calle" type="text" placeholder="Calle" >
                </div>

                <div class="campo">
                    <label>Altura</label>
                    <input required="required" name="altura" type="number" placeholder="Altura">
                </div>


                <div class="campo">
                    <label>Código Postal</label>
                    <input required="required" name="localidad" type="number" placeholder="Localidad ID" >
                </div>

                <div class="campo">
                    <label>Provincia</label>
                    <input required="required" name="provincia" type="text" placeholder="Provincia">
                </div>
                <div class="campo">
                    <label>Municipio</label>
                    <input required="required" name="municipio" type="text" placeholder="Municipio">
                </div>

                <div class="enviar">
                    <button class="boton" type="submit">Enviar</button>
                </div>


            </fieldset>
        </form>

    </section>
</main>


<footer class>
</footer>

</body>
{{/partial}}
{{> base.hbs }}