<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre Pagina</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1>Nombre Pagina</h1>
            <nav class="navegacion-principal">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
            </nav>
        </div>
    </header>


    <main>
        <section>
            <h2 class="contacto">Alta de Organización</h2>
    
            <form class = "formulario" method="post" href="/alta_organizacion">
                <fieldset>
                        <div class = "campo">
                            <label>CUIT</label>
                            <input name="cuit" type="number" placeholder="CUIT">
                        </div>
    
                        <div class = "campo">
                            <label>Razón Social</label>
                            <input name="razon_social" type="text" placeholder="Razón Social">
                        </div>
    
                        <div class = "campo">
                            <label>Tipo</label>
                            <select name="tipo_organizacion">
                                <option>Gubernamental</option>
                                <option>ONG</option>
                                <option>Empresa</option>
                                <option>Institución</option>
                            </select>
                        </div>
    
                        <div class = "campo">
                            <label>Código Postal</label>
                            <input name="codigo_postal" type="text" placeholder="Código Postal">
                        </div>      
                        
                        <div class = "campo">
                            <label>Calle</label>
                            <input name="calle" type="text" placeholder="Calle">
                        </div>  
    
                        <div class = "campo">
                            <label>Altura</label>
                            <input name="altura" type="number" placeholder="Altura">
                        </div>  
    
                        <div class = "campo">
                            <label>Clasificación</label>
                            <input name="clasificacion" type="text" placeholder="Clasificación">
                        </div>  

<!--                        <div class = "campo">-->
<!--                            <label>Sectores</label>-->
<!--                            <button class="boton-sector" type="submit">Agregar</button>-->
<!--                            <button class="boton-sector visualizar" type="submit">Visualizar</button>-->
<!--                        </div>  -->
    
                        <div class = "enviar">
                            <button class="boton" type="submit">Enviar</button>
                        </div>
                </fieldset>
            </form>
    
        </section>
    </main>
    

    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>
</html>