{{#partial "contenido" }}
<body>

    <main>
        <section>
            <h2 class="contacto title">Alta de Sector</h2>

            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Nombre</label>
                        <input required="required" name="nombre" type="text" placeholder="Nombre" value="{{sector.nombre}}">
                    </div>

                    <div class="Guardar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}