{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Alta de Vehículo Particular</h2>

            <form class="formulario" method="post">
                <fieldset>

                    <div class="campo">
                        <label>Nombre de Vehiculo</label>
                        <input name="nombre" type="text" placeholder="nombre">
                    </div>

                    <div class="campo">
                        <label>Tipo de Vehículo</label>
                        <select class="mr-6" name="tipo_vehiculo">
                            <option>Auto</option>
                            <option>Moto</option>
                            <option>Camioneta</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label>Factor de Vehículo</label>
                        <input name="factor_vehiculo" type="number" placeholder="Factor de Vehiculo">
                    </div>

                    <div class="campo">
                        <label>Seleccione el Combustible</label>
                        <select class="input-select" name="combustible_id">
                             <option>Seleccionar</option>
                                {{#each combustible}}
                             <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                        </select>
                    </div>



                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>

        </section>
    </main>


    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}