{{#partial "contenido" }}
<body>
    <main>
        <section>
            <h2 class="contacto title">Alta de Vehículo Público</h2>

            <form class="formulario">
                <fieldset>
                    <div class="campo">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre">
                    </div>

                    <div class="campo">
                        <label>Factor de Emisión</label>
                        <input type="number" placeholder="Factor de Emisión">
                    </div>

                    <div class="campo">
                        <label>Tipo de Vehículo</label>
                        <select class="mr-6">
                            <option>Colectivo</option>
                            <option>Subte</option>
                            <option>Tren</option>
                        </select>
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                </fieldset>
            </form>

        </section>
    </main>


    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}