{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Home Agente Provincial</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_provincial/agentes_municipales'">Ver Agentes Municipales</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_provincial/huella_carbono'">Calcular Huella</button>
            </div>
            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                        onclick="location.href='/agente_provincial/total_huella'">Ver Total Huella</button>
            </div>

        </section>
    </main>
</body>
{{/partial}}
{{> base.hbs }}