{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Home Aministrador</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/administrador/alta_contratado'">Alta de Servicio Contratado</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/administrador/servicios_contratados'">Servicios Contratados</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/administrador/alta_publico'">Alta de Transporte Publico</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton" 
                    onclick="location.href='/administrador/publicos'">Transportes Publicos</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/administrador/alta_parada'">Alta de Parada</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                onclick="location.href='/administrador/paradas'">Lista de Paradas</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                onclick="location.href='/administrador/reporte_organizaciones'">Reporte Organizaciones</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                onclick="location.href='/administrador/reporte_provincias'">Reporte Provincias</button>
            </div>

        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}