{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Home Agente</h2>
            
            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Mes</label>
                        <input type="number" placeholder="Mes">
                    </div>
            
                    <div class="campo">
                        <label>Año</label>
                        <input type="number" placeholder="Año">
                    </div>
            
                    <div class="enviar">
                        <button class="boton" type="submit">Calcular Huella</button>
                    </div>
            
            
                </fieldset>
            </form>

        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}