{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Home Miembro</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='./unirse_sector.html'">Unirme a Sector</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/sectores.html'">Ver Sectores</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/alta_trayecto'">Agregar Trayecto</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/trayectos'">Ver Trayectos</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton">Calcular Huella</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='./form_huella.html'">Calcular Impacto</button>
            </div>

        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}