{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Home Agente Municipal</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_municipal/organizaciones'">Ver Organizaciones</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_municipal/huella_carbono'">Calcular Huella</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_municipal/total_huella'">Ver Total Huella</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_municipal/composicion_huella'">Ver Composición Huella</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/agente_municipal/evolucion_huella'">Ver Evolución Huella</button>
            </div>

        </section>
    </main>
</body>
{{/partial}}
{{> base.hbs }}