<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Organización</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="/home">Home</a>
                <a href="#">Perfil</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>


    <main>
        <section>

            <h2 class="title">Home Organización</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/organizacion/alta_sector'">Agregar Sector</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/organizacion/sectores'">Ver Sectores</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/organizacion/excel'">Cargar Excel</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                        onclick="location.href='/organizacion/huella_carbono'">Calcular Huella</button>
            </div>

        </section>
    </main>


</body>

</html>