{{#partial "contenido" }}

<body>
    <main>
        <section>
    
            <h2 class="title">Huella de Carbono</h2>
                <table class="table m-auto">
                    <thead>
                        <tr>
                            <th>Huella</th>
                            <th>Mensual/Anual</th>
                            <th>Fecha de Calculo</th>
                            <th>Calcular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post">
                        <tr>
                            <td >{{valorMensual}}</td>
                            <td>Mensual</td>
                            <input style="display:none;" name="mes" value= "1">
                            <td>{{fechaMensual}}</td>
                            <td><button style="background-color: #77a785;" class="button is-primary"
                                    type="submit">Calcular</button></td>
                        </tr>
                        </form>
                        <form method="post">
                        <tr>
                            <td>{{valorAnual}}</td>
                            <td>Anual</td>
                            <input style="display:none;" name="mes" value= "0">
                            <td>{{fechaAnual}}</td>
                            <td><button style="background-color: #77a785;" class="button is-primary">Calcular</button></td>
                        </tr>
                        </form>
                    </tbody>
                </table>
        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}