{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Huella Total de Organizaciones</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Gubernamental</th>
                        <th>ONG</th>
                        <th>Empresa</th>
                        <th>Institución</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{gubernamental}}</td>
                        <td>{{ong}}</td>
                        <td>{{empresa}}</td>
                        <td>{{institucion}}</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}