{{#partial "contenido" }}

<body>
    <main>
        <section>

            <h2 class="title">Huella de Carbono</h2>
                <table class="table m-auto">
                    <thead>
                        <tr>
                            <th>Huella</th>
                            <th>Fecha de Calculo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post">
                        <tr>
                            <td >{{huella}}</td>
                            <td>{{fecha}}</td>
                        </tr>
                        </form>

                    </tbody>
                </table>
        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}