{{#partial "contenido" }}

<body>
    <main>
        <section>
    
            <h2 class="title">Huella de Carbono</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Huella</th>
                        <th>Mensual/Anual</th>
                        <th>Fecha de Calculo</th>
                        <th>Calcular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor mensual</td>
                        <td>Mensual</td>
                        <td>Fecha mensual</td>
                        <td><button style="background-color: #77a785;" class="button is-primary">Calcular</button></td>
                    </tr>
                    <tr>
                        <td>Valor anual</td>
                        <td>Anual</td>
                        <td>Fecha anual</td>
                        <td><button style="background-color: #77a785;" class="button is-primary">Calcular</button></td>
                    </tr>
                </tbody>
            </table>
    
        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}