<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="#">Home</a>
                <a href="#">Perfil</a>
                <a href="#">Logout</a>
            </nav>
        </div>
    </header>


    <main>
        <section>
            <h2 class="contacto title">Login</h2>

            <form class="formulario" method="post">
                <fieldset>
                    <div class="campo">
                        <label>Usuario</label>
                        <input name="usuario" type="usuario" placeholder="Usuario">
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <input name="contrasenia" type="password" placeholder="Contraseña">
                    </div>

                    <div class="enviar">
                        <button class="boton" type="submit">Login</button>
                    </div>

                    
                </fieldset>
            </form>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton" onclick="location.href='/signup'">Crear Cuenta</button>
            </div>

        </section>
    </main>


    <footer class>

    </footer>

</body>

</html>