{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Miembros</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Domicilio</th>
                        <th>Tipo de Documento</th>
                        <th>Numero de Documento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Domicilio</td>
                        <td>Tipo de Documento</td>
                        <td>Numero de Documento</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Domicilio</td>
                        <td>Tipo de Documento</td>
                        <td>Numero de Documento</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Domicilio</td>
                        <td>Tipo de Documento</td>
                        <td>Numero de Documento</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}