{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Paradas</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Calle</th>
                        <th>Altura</th>
                        <th>Distancia a la Siguiente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>Calle</td>
                        <td>Altura</td>
                        <td>Distancia a la Siguiente</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>Calle</td>
                        <td>Altura</td>
                        <td>Distancia a la Siguiente</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>Calle</td>
                        <td>Altura</td>
                        <td>Distancia a la Siguiente</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}