{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Sectores</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Organización</th>
                        <th>Cantidad de Miembros</th>
                        <th>Cantidad de Solicitudes Activas</th>
                        <th>Promedio Huella de Carbono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sector</td>
                        <td>Pyme de Nico</td>
                        <td>4</td>
                        <td>90</td>
                        <td>99999</td>
                    </tr>
                    <tr>
                        <td>Sector</td>
                        <td>Pyme de Nico</td>
                        <td>4</td>
                        <td>90</td>
                        <td>99999</td>
                    </tr>
                    <tr>
                        <td>Sector</td>
                        <td>Pyme de Nico</td>
                        <td>4</td>
                        <td>90</td>
                        <td>99999</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}
