{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Seleccionar Tipo de Usuario</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/alta_miembro'">Miembro</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/alta_organizacion'">Organizacion</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/alta_agente_provincial'">Agente Provincial</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/alta_agente_municipal'">Agente Municipal</button>
            </div>

        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}