{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Solicitudes</h2>
            <table class="table m-auto" method="post">
                <thead>
                    <tr>
                        <th>Nombre de Miembro</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>

                </thead>
                <tbody>
                {{#each solicitud}}
                    <tr>
                        <td>{{solicitante.nombre}}</td>
                        <td>{{fecha_creacion}}</td>
                        <td>{{estado}}</td>
                        <td><button style="background-color: #77a785;" class="button is-primary" >Aceptar</button></td>
                        <td><button style="background-color: #77a785;" class="button is-primary" >Rechazar</button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}