{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Seleccionar Tipo de Transporte</h2>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/trayecto/{{id_trayecto}}/tramo_particular'">Particular</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/trayecto/{{id_trayecto}}/tramo_publico'">Publico</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/trayecto/{{id_trayecto}}/tramo_contratado'">Servicio Contratado</button>
            </div>

            <div class="enviar">
                <button style="margin-left: 218px;background-color: #77a785;" class="boton"
                    onclick="location.href='/miembro/trayecto/{{id_trayecto}}/tramo_ecologico'">Ecologico</button>
            </div>

        </section>
    </main>


</body>
{{/partial}}
{{> base.hbs }}