{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Total Huella</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Municipio</th>
                        <th>Total Huella</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{municipio}}</td>
                        <td>{{huella}}</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
    </footer>

</body>
{{/partial}}
{{> base.hbs }}