{{#partial "contenido" }}
<body>
    <main>
        <section>

            <h2 class="title">Tramos</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Transporte</th>
                        <th>Es Compartido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

</body>
{{/partial}}
{{> base.hbs }}