{{#partial "contenido" }}
<body>
<main>
    <section>
        <h2 class="contacto title">Alta de Tramo</h2>
        <form class="formulario" method="post">
            <fieldset>

                <div class="campo">
                    <label>Seleccione el servicio contratado</label>
                    <select required="required" class="input-select" name="servicio_contratado_id">
                         <option>Seleccionar</option>
                            {{#each servicio_contratado}}
                         <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                    </select>
                </div>

                <div class="campo">
                    <label>Calle de Inicio</label>
                    <input required="required" name="calle_inicio" type="text" placeholder="Calle de Inicio" >
                </div>

                <div class="campo">
                    <label>Altura de Inicio</label>
                    <input required="required" name="altura_inicio" type="number" placeholder="Altura de Inicio" >
                </div>

                <div class="campo">
                    <label>Localida Origen ID </label>
                    <input required="required" name="localidad_inicio" type="number" placeholder="Localida Origen ID" >
                </div>

                <div class="campo">
                    <label>Calle de Fin</label>
                    <input required="required" name="calle_fin" type="text" placeholder="Calle de Fin" >
                </div>

                <div class="campo">
                    <label>Altura de Fin</label>
                    <input required="required" name="altura_fin" type="number" placeholder="Altura de Fin">
                </div>

                <div class="campo">
                    <label>Localida Destino ID </label>
                    <input required="required" name="localidad_fin" type="number" placeholder="Localida Fin ID" >
                </div>
                <div class="enviar">
                    <button class="boton" type="submit">Enviar</button>
                </div>

            </fieldset>
        </form>

    </section>
</main>


<footer class>
</footer>

</body>
{{/partial}}
{{> base.hbs }}