<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tramos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="#">Home</a>
                <a href="#">Perfil</a>
                <a href="#">Logout</a>
            </nav>
        </div>
    </header>


    <main>
        <section>

            <h2 class="title">Tramos</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Transporte</th>
                        <th>Es Compartido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Calle y Altura</td>
                        <td>Calle y Altura</td>
                        <td>Tren</td>
                        <td>Si</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

</body>

</html>