<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <h1 class="title is-1 mt-3">Tu Huella</h1>
            <nav class="navegacion-principal">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
            </nav>
        </div>
    </header>


    <main>
        <section>

            <h2 class="title">Transportes</h2>
            <table class="table m-auto">
                <thead>
                    <tr>
                        <th>Tipo de Transporte</th>
                        <th>Factor de Emisión</th>
                        <th>Factor de Vehículo</th>
                        <th>Tipo de Vehículo</th>
                        <th>Cantidad de Paradas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Publico</td>
                        <td>10</td>
                        <td>-</td>
                        <td>Tren</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Particular</td>
                        <td>10</td>
                        <td>20</td>
                        <td>Moto</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>


    <footer class>
        <p>Escribir algo copado aca</p>
    </footer>

</body>

</html>